<html>
<head>
  <link rel="stylesheet" href="../error.css">

</head>
<body>
	<div class="error-page-wrap">
		<article class="error-page gradient">
			<hgroup>
        <h1>{{status}}</h1>
				<h2>{{message}}</h2>
			</hgroup>
			<a href="/" style="text-decoration:none" title="Try Again" class="error-back btn btn-danger">Try Again</a>
		</article>
	</div>
</body>
</html>